body {
font-family: Arial, sans-serif; margin: 0;
padding: 0;
background-color: #f0f0f0;
}
header {
background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); color: white;
padding: 20px; text-align: center; font-style: oblique;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 15px;
}
main {
margin: 20px;
}
.container {
max-width: 800px; margin: auto; padding: 20px;
background-color: #fff; border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tips {
margin-bottom: 20px;
}
.tip {
background-color: #f8f9fa; border-left: 5px solid #007bff; padding: 10px;
margin-bottom: 10px;
}
.tip h3 {
margin-top: 0;
}
.tip p {
margin-bottom: 0;
}
footer {
background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); color: white;
text-align: center; padding: 10px 0; position: fixed; bottom: 0;
width: 100%;
font-family: Georgia, 'Times New Roman', Times, serif; font-size: 15px;
}
.nav-link{ color: white;
text-decoration: none; display: flex;
}
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
