/* Reset some default styles */ body,
h1,
h2,
h3,
p {
margin: 0;
padding: 0;
}
/* Global styles */ body {
font-family: 'Roboto', sans-serif; background-color: #ffffff00; color: #000000;
}
/* Navbar styles */ #nav-bar {
background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}
.navbar {
padding: 15px 20px;
}
.navbar-brand img {
/* Add your logo styling */
}
.navbar-toggler { color: #000000;
}
.navbar-nav .nav-item { margin-right: 15px;
}
.nav-link {
color: #000000 !important;
}
/* Main section styles */ #main {
text-align: center; padding: 50px 0;
}
.my-info {
margin-top: 20px;
}
/* Modal styles */
.modal-content { border-radius: 10px;
}
.modal-title {
font-family: 'Sansita Swashed', cursive;
}
.modal-body form { margin-bottom: 20px;
}
/* Table styles */
.table {
margin-top: 30px;
}
.table thead {
background-color: #17a2b8; color: #000000;
}
.table th,
.table td {
text-align: center;
}
.table-light,
.table-light td,
.table-light th {
background-color: #075baf;
}
.table-danger,
.table-danger td,
.table-danger th {
background-color: #b61616; color: #000000;
}
/* Media queries for responsiveness */ @media (max-width: 768px) {
.navbar-toggler { color: #000000;
}
.navbar-nav .nav-item { margin-right: 0; margin-bottom: 10px;
}
}
