body {
font-family: Arial, sans-serif; background-image: url('login_img.png'); background-size: cover;
background-position: center; margin: 0;
padding: 0; display: flex;
justify-content: center; align-items: center; flex-direction: column; height: 100vh;
}
.welcome-heading { color: #fff;
margin-bottom: 20px;
}
.login-wrapper {
background-color: rgba(59, 58, 58, 0.9); padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); width: 300px;
max-width: 100%; text-align: center;
}
.form h2 {
margin-bottom: 20px; color: #ffffff;
}
.input-group {
margin-bottom: 15px; position: relative;
}
.input-group input[type="text"],
.input-group input[type="password"] { width: 100%;
padding: 10px;
border: 1px solid #007bff; border-radius: 5px;
box-sizing: border-box;
}
.input-group input[type="text"]:focus,
.input-group input[type="password"]:focus { outline: none;
border-color: #0056b3;
}
.input-group label { position: absolute; left: 10px;
top: 50%;
transform: translateY(-50%); transition: all 0.3s ease; pointer-events: none;
color: #999;
opacity: 0;
}
.input-group input[type="text"]:focus+label,
.input-group input[type="password"]:focus+label,
.input-group input[type="text"]:valid+label,
.input-group input[type="password"]:valid+label { top: -12px;
left: 6px;
font-size: 12px; color: #007bff; opacity: 1;
}
.submit-btn, .signup-btn { background-color: #0056b3; color: #fff;
border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;
transition: background-color 0.3s; margin-right: 10px;
text-decoration: none;
}
.submit-btn:hover, .signup-btn:hover { background-color: #004080;
}
.forgot-password { display: block; margin-top: 10px;
color: #007bff; /* Change color as needed */ text-decoration: none;
font-size: 14px; /* Adjust font size as needed */
}
.forgot-password:hover { text-decoration: underline;
}
.button-container { position: absolute; top: 10px;
right: 10px;
display: flex; gap: 10px;
}
.page-button {
background-color: #0056b3; color: white;
border: none; padding: 10px 20px; font-size: 12px; border-radius: 5px; cursor: pointer;
}
.page-button:hover{ background-color: #004080;
}